.first {
  padding-top: 104px;
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    width: 324px;
    height: 145px;
    &-title {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.5px;
      color: #000000;
    }
  }
  &__right {
    max-width: 498px;
    width: 100%;
    height: 403px;
    &-text {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #0075FF;
      padding-bottom: 16px;
    }
    &-subtext {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: #3E3E3E;
      padding-bottom: 20px;
    }
    &-subtext2 {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: #3E3E3E;
      padding-bottom: 20px;
    }
    &-subtext3 {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: #3E3E3E;
    }
  }
}

@media (max-width: 640px) {
  .first__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }
  .first__left-title {
    font-size: 36px;
  }
}

@media (max-width: 425px) {
  .first__right-text {
    font-size: 16px;
    text-align: center;
  }
  .first__right-subtext {
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
  }
  .first__right-subtext2 {
  font-size: 16px;
    text-align: center;
    padding: 0 20px;
  }
  .first__right-subtext3 {
    font-size: 16px;
    text-align: center;
  }
}
